<table class="table table-striped">
  <tbody>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Role</th>
      <th *ngIf="isAdmin">Action</th>
      <th *ngIf="isAdmin">Opertion</th>
    </tr>
    <tr *ngFor="let user of data">
      <td>{{ user.id }}</td>
      <td>{{ user.name | titlecase }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.role | titlecase }}</td>
      <td *ngIf="isAdmin">
        {{ user.isActive }}
      </td>
      <td *ngIf="isAdmin">
        <button class="btn btn-success" routerLink="/update/{{ user.id }}">
          Edit</button
        >&#160;&#160;<button (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
