<div class="container mt-5">
  <h1>Add Resto</h1>
  <div
    *ngIf="successMsg"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <strong>Success!</strong> Your Restaurant details added.
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
      (click)="closeAlert()"
    ></button>
  </div>
  <form [formGroup]="restoGroup" (ngSubmit)="collectResto()">
    <div class="form-group">
      <label>Name : </label>
      <input
        formControlName="name"
        type="text"
        class="form-control"
        placeholder="Enter Name"
      />
    </div>
    <div class="form-group">
      <label>Email : </label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        placeholder="Enter Email"
      />
    </div>
    <div class="form-group">
      <label>Address : </label>
      <input
        formControlName="address"
        type="text"
        class="form-control"
        placeholder="Enter Address"
      />
    </div>

    <button class="btn btn-success mt-2">ADD</button>
  </form>
</div>
