<div class="my-3 mx-3">
  <h2>Of & From</h2>
  <br />

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Of => String</div>
        <div class="card-body">
          <ul id="ulContainer"></ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">From => Array</div>
        <div class="card-body">
          <ul id="ulContainer2"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
