<div class="my-3 mx-3">
  <h2>map</h2>
  <br />

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Filter => First 5</div>
        <div class="card-body">
          <ul id="ulContainer1"></ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Filter => Only Male</div>
        <div class="card-body">
          <ul id="ulContainer2"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
