* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 500px;
  border: 1px solid black;
  border-radius: 1%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.display {
  height: 15vh;
  width: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  letter-spacing: 1.8px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 100px);
  text-align: center;
  align-items: center;
}

.btn {
  padding: 37.8px 0;
  font-size: 20px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.op:hover {
  background-color: orange !important;
}

.btn:hover {
  background-color: #ccc;
}

.btn_equal:hover {
  background-color: rgba(102, 102, 247, 0.39);
}

@media screen and (max-width: 400px) {
  .container {
    width: 300px;
  }
}
