<div class="my-3 mx-3">
  <h2>Take</h2>
  <br />

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">take(5)</div>
        <div class="card-body">
          <ul id="ulContainer1"></ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">takeLast(5)</div>
        <div class="card-body">
          <ul id="ulContainer2"></ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">takeUntil</div>
        <div class="card-body">
          <ul id="ulContainer3"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
