<div class="container">
  <h1>Sign Up</h1>
  <form #userForm="ngForm" (ngSubmit)="getData()" novalidate>
    {{ userForm.value | json }}
    <div class="form-group">
      <label>User Name : </label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="userModel.userName"
        placeholder="Enter Username"
        name="userName"
        #name="ngModel"
        [class.is-invalid]="name.touched && name.invalid"
        required
      />
      <small class="text-danger" [class.d-none]="name.untouched || name.valid"
        >Name is required</small
      >
    </div>
    <div class="form-group">
      <label>Password : </label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter Password"
        [(ngModel)]="userModel.password"
        name="password"
        #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched"
        required
      />
      <small
        class="text-danger"
        [class.d-none]="password.untouched || password.valid"
        >Password is required</small
      >
    </div>
    <div class="form-group">
      <label>Confirm Password : </label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter Confirm Password"
        [(ngModel)]="userModel.confirmPassword"
        name="confirmPassword"
        #confirmPassword="ngModel"
        required
        [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched"
      />
      <small
        class="text-danger"
        [class.d-none]="confirmPassword.valid || confirmPassword.untouched"
        >Confirm Password required</small
      >
    </div>
    <button class="btn btn-primary mt-3" [disabled]="userForm.invalid">
      Sign Up
    </button>
  </form>
</div>
