<ul>
  <li><a routerLink="fromEvent"> fromEvent </a></li>
  <li>
    <a routerLink="interval"> interval </a>
  </li>
  <li>
    <a routerLink="ofFrom"> ofFrom </a>
  </li>
  <li>
    <a routerLink="toArray"> toArray </a>
  </li>
  <li>
    <a routerLink="map"> map </a>
  </li>
  <li>
    <a routerLink="filter"> filter </a>
  </li>
  <li>
    <a routerLink="tap"> tap </a>
  </li>
  <li>
    <a routerLink="take"> take </a>
  </li>
  <li>
    <a routerLink="retry"> retry </a>
  </li>
  <li>
    <a routerLink="debounceTime"> debounceTime </a>
  </li>
  <li>
    <a routerLink="replay"> replay </a>
  </li>
</ul>
