<div class="my-3 mx-3">
  <h2>Debounce time</h2>
  <br />

  <div class="row">
    <div class="col-md-6">
      <strong>Ex - 01 <span class="text-success">Debounce Time</span></strong>
      <hr />
      <form class="form-inline my-2 my-lg-0 d-flex">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          #myInput1
        />
        &nbsp;
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>

    <div class="col-md-6">
      <strong
        >Ex - 02 <span class="text-warning">DistinctUntilChanged</span></strong
      >
      <hr />
      <form class="form-inline my-2 my-lg-0 d-flex">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          #myInput2
        />
        &nbsp;
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</div>
