<div class="my-3 mx-3">
  <h2>Replay Subject</h2>
  <br />

  <div class="row">
    <div class="col">
      <h3>Add Video</h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <input type="text" class="form-control" #textValue />
    </div>
    <div class="col-md-3">
      <button class="btn btn-success" (click)="addVideo(textValue.value)">
        Add Video
      </button>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-md-4">
      <p>
        Video <strong>{{ asyncVideoEmit }}</strong>
      </p>
    </div>
    <div class="col-md-4">
      <button class="btn btn-success" (click)="onComplete()">Complete</button>
    </div>
  </div>
</div>
